<div class="iqs-organizations pip-card-container pip-outer-scroll pip-entry layout-column layout-align-center-center">

    <div class="iqs-organizations pip-card-container layout-column layout-align-center-center">
        <div class="scroll-y iqs-organization-details" syles="min-height: 600px; max-height: 90%">
            <iqs-mobile-welcome-panel iqs-organization="$ctrl.organization" iqs-lora="$ctrl.toLora()" iqs-phone="$ctrl.toStartPhone()"
                                      ng-if="$ctrl.step == 2">
            </iqs-mobile-welcome-panel>

            <iqs-mobile-start-panel iqs-organization="$ctrl.organization" iqs-next="$ctrl.toOrganizationWelcome()" iqs-phone="$ctrl.toPhone()"
                                    ng-if="$ctrl.step == 3">
            </iqs-mobile-start-panel>

            <iqs-mobile-panel iqs-organization="$ctrl.organization" iqs-next="$ctrl.toOrganizationWelcome()" iqs-add-phone="$ctrl.toMobileMore()"
                              ng-if="$ctrl.step == 4 && $ctrl.trackerType == 'mobile'">
            </iqs-mobile-panel>

            <iqs-mobile-more-panel iqs-organization="$ctrl.organization" iqs-next="$ctrl.toOrganizationWelcome()" iqs-add-phone="$ctrl.toPhone()"
                                   ng-if="$ctrl.step == 5">
            </iqs-mobile-more-panel>

            <iqs-lora-panel iqs-next="$ctrl.toOrganizationWelcome()" ng-if="$ctrl.step == 4 && $ctrl.trackerType == 'lora'">
            </iqs-lora-panel>
        </div>
    </div>

</div>


<!-- load data  -->
<div class="iqs-organizations pip-card-container layout-column layout-align-center-center" ng-if="$ctrl.state == 'progress'">
    <div class="scroll-y iqs-organization-details" syles="min-height: 500px; max-height: 90%">
        <div class="pip-body rp0 layout-column layout-align-center-center flex ">
            <div class="layout-column layout-align-center-center flex iqs-empty ">
                <div class="pip-empty" ng-if="$ctrl.state == 'progress'">
                    <img src="images/empty/progress.svg" class="pip-pic">
                    <div class="pip-text">
                        {{ ::'QUICK_START_LOADING_TITLE' | translate }}
                        <md-progress-linear md-mode="indeterminate" class="tm24"></md-progress-linear>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>