<div class="pip-search-container" ng-class="{'pip-search-default' : $ctrl.defaultValues && $ctrl.defaultValues.length > 0 }">
    <md-autocomplete ng-initial autofocus 
        md-input-id="GlobalSearchAutocomplete" 
        id="GlobalSearchAutocomplete" 
        class="pip-combobox w-stretch " 
        ng-class="{'iqs-search-unactive': $ctrl.isUnActive()}"
        ng-focus="$ctrl.focused = true"
        ng-blur="$ctrl.focused = false"
        ng-disabled="$ctrl.ngDisabled"
        placeholder="{{::$ctrl.placeholder | translate}}"
        ng-keydown="$ctrl.onKeyDown($event)"
        md-no-cache="true" 
        md-selected-item="$ctrl.selectedItem" 
        md-search-text="$ctrl.searchText" 
        md-items="item in $ctrl.querySearch($ctrl.searchText)"
        md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
        md-item-text="item" 
        md-selected-item-change="$ctrl.selectedItemChange(item)" 
        md-delay="200" xxxmd-min-length="3"
        md-menu-class="{{::$ctrl.menuClass}}"
        md-match-case-insensitive>

        <span md-highlight-text="$ctrl.searchText">{{ item }}</span>
    </md-autocomplete>


    <md-button class="md-icon-button search-button" id="GlobalSearchButton" ng-click="$ctrl.onSearchClick()" ng-disabled="$ctrl.ngDisabled">
        <md-icon md-svg-icon="icons:search"></md-icon>
    </md-button>
    <md-button class="md-icon-button down-button" ng-disabled="$ctrl.ngDisabled"
        ng-click="$ctrl.onDefaultResult()" ng-if="$ctrl.defaultValues && $ctrl.defaultValues.length > 0">
        <md-icon md-svg-icon="icons:triangle-down"></md-icon>
    </md-button>

    <div class="iqs-search-backdrop-panel" ng-click="$ctrl.onSearchBackdropClick()" ng-if="$ctrl.launchDefaultSearch">
        
    </div>
    <div class="iqs-search-default-panel pip-scroll pip-scroll-y" id="default-panel" ng-if="$ctrl.launchDefaultSearch">
        <md-list class="pip-ref-list tp0 bp0" pip-focused pip-focused-opacity="true">

            <md-list-item class="pip-focusable pip-ref-list-item pointer" 
                ng-keydown="$ctrl.onKeyDownDefaultPanel($event, defaultItem)"
                ng-click="$ctrl.selectItem(defaultItem)"
                md-ink-ripple ng-repeat="defaultItem in $ctrl.defaultValues">
                <div class="pip-content">
                    {{ defaultItem }}
                </div>
            </md-list-item>
        </md-list>        
    </div>
    <div class="iqs-search-backdrop" ng-click="$ctrl.onBackdropClick()" ng-if="$ctrl.launchDefaultSearch"></div>
</div>