<div class="iqs-organizations pip-card-container pip-outer-scroll pip-entry layout-column layout-align-center-center">

	<div class="iqs-organizations pip-card-container layout-column layout-align-center-center">
		<div class="scroll-y iqs-organization-details" syles="min-height: 600px; max-height: 90%">

			<div class="pip-body {{$ctrl.pipMedia('gt-sm') ? 'p24' : 'p16' }}">


				<h2 class="text-center bm24 lm24 rm24">
					{{:: 'SITES_WELCOME_END_TITLE' | translate}}

				</h2>

				<div class="text-body1 min-h136 bm16 iqs-info">
					<p>
						{{:: 'SITES_WELCOME_END_SUBTITLE1' | translate}}

					</p>
					<p>
						{{:: 'SITES_WELCOME_END_SUBTITLE2' | translate}}


					</p>
					<p>
						{{:: 'SITES_WELCOME_END_SUBTITLE3' | translate}}
					</p>
					<p>
						{{:: 'SITES_WELCOME_END_SUBTITLE4' | translate}}

					</p>
					<p>
						{{:: 'SITES_WELCOME_END_SUBTITLE5' | translate}}


					</p>
					<p>
						{{:: 'SITES_WELCOME_END_SUBTITLE6' | translate}}

					</p>
				</div>


			</div>
			<div class="pip-footer {{$ctrl.pipMedia('gt-sm') ? 'p24' : 'p16' }} tp0">
				<div class="layout-row layout-align-start-center tm16" ng-if="$ctrl.pipMedia('gt-sm')">
					<md-button iqs-test-cancel class="md-primary md-raised w-stretch flex" ng-disabled="$ctrl.transaction.busy()"
					           ng-click="$ctrl.onFinish()">
						{{ ::'SITES_WELCOME_END_BUTTON' | translate }}
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>