$nav-menu-padding: 16px;
$nav-menu-padding-sm: 16px;
$nav-menu-selected-color: rgba(0, 0, 0, 0.08);

@import 'parts/index';

iqs-side-nav {
    .pip-sections-container {
        position: relative;
    }
    .pip-sections-absolute {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .pip-animated {
        transition: all linear 0.15s;
    }
    .pip-connections.ng-hide {
        transform: translate(0, -100%);
        &.person-clicked {
            transform: none;
            opacity: 0;
        }
    }
    .pip-nav-menu.ng-hide {
        opacity: 0;
        transform: scale(0.8);
    }
    .pip-nav-menu {
        top: -1px;
        .pip-sticky-nav-expanded-button {
            display: none;
        }
    }
}

.pip-sticky-nav-small .iqs-hide-small-text {
    display: none;
}

.iqs-nav-organizations-button {
    text-transform: none;
    padding-left: $nav-menu-padding !important;
    padding-right: $nav-menu-padding !important;
    line-height: 48px;
    height: 48px;
    margin: 0px;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.iqs-sidenav-icon-tooltip {
    margin-left: -28px !important;
}

.sidenav-icon-tooltip {
    margin-left: 12px !important;
}

.pip-sticky-nav-menu-title-moz {
    width: 100%;text-align: justify;vertical-align: text-bottom;
}

.pip-sticky-nav-menu .pip-sticky-nav-menu-item .md-button .pip-sticky-nav-menu-title {
    width: 300px;
}