<div ng-show="$ctrl.error" class="pip-page-errors bm16">
    <span class="pip-error-text color-error flex"> {{ $ctrl.error | translate }}</span>
    <md-icon md-svg-icon="icons:warn-circle" class="color-error"></md-icon>
</div>

<div class="iqs-organizations pip-card-container layout-column layout-align-center-center" ng-if="$ctrl.state == 'data'">
    <div class="scroll-y iqs-organization-details" syles="min-height: 500px; max-height: 90%">
        <md-progress-linear md-mode="indeterminate" style="position: absolute;" ng-show="$ctrl.transaction && $ctrl.transaction.busy()">
        </md-progress-linear>

        <iqs-invitation-panel iqs-organization="$ctrl.organization" iqs-next="$ctrl.onNext()">
        </iqs-invitation-panel>
    </div>
</div>

<!-- load data  -->
<div class="iqs-organizations pip-card-container layout-column layout-align-center-center" ng-if="$ctrl.state == 'progress'">
    <div class="scroll-y iqs-organization-details" syles="min-height: 500px; max-height: 90%">
        <div class="pip-body rp0 layout-column layout-align-center-center flex ">
            <div class="layout-column layout-align-center-center flex iqs-empty ">
                <div class="pip-empty" ng-if="$ctrl.state == 'progress'">
                    <img src="images/empty/progress.svg" class="pip-pic">
                    <div class="pip-text">
                        {{ ::'QUICK_START_LOADING_TITLE' | translate }}
                        <md-progress-linear md-mode="indeterminate" class="tm24"></md-progress-linear>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>