.pip-dialog.iqs-incidents-resolution-dialog {
    max-width: 400px;
    width: 400px;

    @include flex-direction(column);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}