<pip-card>
    <div class="pip-body">
        <form name="form" novalidate>

            <h2 class="text-center bm24">{{:: 'SITES_CREATE_TITLE' | translate}}</h2>

            <md-input-container class="hide-md-errors-spacer">
                <label>{{::'SITES_CREATE_NAME' | translate}}</label>
                <input iqs-test-name ng-model="$ctrl.organization.name" required />
                <!-- todo verficate form -->
            </md-input-container>

            <div class="flex bm8">
                {{ ::'SITES_CREATE_MAP_DESCRIPTION' | translate }}
                <span class="text-body2 text-overflow color-primary pointer" ng-click="$ctrl.showMapTip($event)">
                    {{ ::'SITES_CREATE_MAP_DESCRIPTION_LINK' | translate }}
                </span>
            </div>
            <div iqs-test-map class="flex" style="position: relative; min-height: 350px">
                <pip-map-edit ng-if="$ctrl.mapOptions && !$ctrl.startPause" pip-on-edit="$ctrl.onEdit(overlay, type, path, center, radius)"
                              pip-show-action-panel="false" pip-overlay="$ctrl.organizationOverlay" pip-map-options="$ctrl.mapOptions"
                              pip-control="$ctrl.setControl(control)">
                </pip-map-edit>

                <div class="iqs-map-edit-zoom-buttons layout-column">
                    <md-button aria-label="ZoomIn" ng-click="$ctrl.onZoomIn()" class="md-fab md-raised md-mini m8">
                        <md-tooltip md-visible="showTooltip" md-direction="left">
                            {{ ::'ZONE_ZOOM_IN' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:plus" aria-label="ZoomIn"></md-icon>
                    </md-button>
                    <md-button aria-label="ZoomOut" ng-click="$ctrl.onZoomOut()" class="md-fab md-raised md-mini m8">
                        <md-tooltip md-visible="showTooltip" md-direction="left">
                            {{ ::'ZONE_ZOOM_OUT' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:minus" aria-label="ZoomOut"></md-icon>
                    </md-button>
                </div>

                <div class="iqs-map-edit-overlay-buttons layout-column">
                    <md-button aria-label="PAN" ng-click="$ctrl.selectSection(0)" ng-class="{'md-accent': $ctrl.section === 0 }"
                               class="md-fab md-raised md-mini m8">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ 'ZONE_PAN' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-pan" aria-label="Pan"></md-icon>
                    </md-button>
                    <md-button iqs-test-map-add-center aria-label="DrawCircle" ng-click="$ctrl.selectSection(1)"
                               ng-class="{'md-accent': $ctrl.section === 1 }" class="md-fab md-raised md-mini m8">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ 'ADD_CENTER' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:pen" aria-label="DrawCircle"></md-icon>
                    </md-button>
                </div>

                <div class="iqs-map-edit-clear-buttons layout-column">
                    <md-button iqs-test-map-clear aria-label="ClearMap" ng-click="$ctrl.clearMap()" class="md-fab md-raised md-mini m8">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{::'ZONE_CLEAR_MAP' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-clear" aria-label="ClearMap"></md-icon>
                    </md-button>
                </div>

                <!-- <div class="iqs-map-edit-center-buttons layout-column" ng-if="$ctrl.mapOptions && $ctrl.organization.center.coordinates[0] && $ctrl.organization.center.coordinates[1]">
                    <md-button aria-label="ClearMap" ng-click="$ctrl.setOverlay()" class="md-fab md-raised md-mini m8">
                        <md-tooltip md-visible="showTooltip" md-direction="left">
                            {{:: 'REDRAW' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:reload" aria-label="ClearMap"></md-icon>
                    </md-button>
                </div> -->
            </div>



            <div class="layout-row hide-md-errors-spacer tm8 bm8">
                <md-input-container class="md-block  bm0 rm16 flex">
                    <label>{{::'GLOBAL_SETTINGS_LOCATION_LONGITUDE' | translate}}</label>
                    <input iqs-test-longtitude ng-model="$ctrl.organization.center.coordinates[0]" type="number" ng-change="$ctrl.onChangeOrganization()">
                </md-input-container>
                <md-input-container class="md-block bm0 flex">
                    <label>{{::'GLOBAL_SETTINGS_LOCATION_LATTITUDE' | translate}}</label>
                    <input iqs-test-latitude ng-model="$ctrl.organization.center.coordinates[1]" type="number" ng-change="$ctrl.onChangeOrganization()">
                </md-input-container>
            </div>
            <div class="layout-row hide-md-errors-spacer bm16">
                <md-input-container class="md-block rm16 bm8 flex">
                    <label>{{::'GLOBAL_SETTINGS_LOCATION_DISTANSE' | translate}}</label>
                    <input iqs-test-radius ng-model="$ctrl.organization.radius" type="number" ng-change="$ctrl.onChangeOrganization()">
                </md-input-container>
                <md-input-container class="md-block flex bm8 hide-md-errors-spacer iqs-timezone-select">
                    <label>{{::'GLOBAL_SETTINGS_LOCATION_TIMEZONE'| translate}}</label>
                    <md-select iqs-test-timezone-select ng-model="$ctrl.organization.timezone">
                        <md-option iqs-test-timezone-option ng-repeat="obj in $ctrl.zones track by $index" ng-value="obj.name">
                            {{ ::obj.title }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>


            <div ng-if="!$ctrl.pipMedia('gt-sm')">
                <md-button iqs-test-cancel class="md-primary md-raised w-stretch flex lm0 rm0 tm16" ng-disabled="$ctrl.transaction.busy()"
                           ng-click="$ctrl.onBack()">
                    {{ ::'SITES_CREATE_BACK' | translate }}
                </md-button>
                <md-button iqs-test-next class="md-primary md-raised w-stretch flex lm0 rm0 bm0" ng-disabled="$ctrl.isFillOrganization() || $ctrl.transaction.busy()"
                           ng-click="$ctrl.next()">
                    {{ ::'SITES_CREATE_FORVARD' | translate }}
                </md-button>
            </div>
            <div class="layout-row layout-align-start-center tm16" ng-if="$ctrl.pipMedia('gt-sm')">
                <md-button iqs-test-cancel class="md-primary md-raised w-stretch flex lm0 rm8 bm0" ng-disabled="$ctrl.transaction.busy()"
                           ng-click="$ctrl.onBack()">
                    {{ ::'SITES_CREATE_BACK' | translate }}
                </md-button>
                <md-button iqs-test-next class="md-primary md-raised w-stretch flex lm8 rm0 bm0" ng-disabled="$ctrl.isFillOrganization() || $ctrl.transaction.busy()"
                           ng-click="$ctrl.next()">
                    {{ ::'SITES_CREATE_FORVARD' | translate }}
                </md-button>
            </div>
        </form>
    </div>
</pip-card>