.iqs-global-help-list-panel {
    height: 100%;
    width: 100%;
    .aux-btn-close {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .text-title {
        line-height: 24px;
        padding: 16px 48px 16px 77px;
    }
    .pip-ref-list {
        .pip-ref-list-item {
            height: 48px;
            max-height: 48px;
            width: calc(100% - 16px);
            max-width: calc(100% - 16px);
            .md-secondary-container {
                display: none;
            }
            .pip-content {
                max-width: calc(100% - 16px);
                line-height: 16px !important;
            }
        }
    }
    .global-help-list {
        overflow-y: auto;
        height: calc(100% - 56px - 37px);
        min-height: 144px;
    }
    .iqs-footer {
        background-color: rgba(0, 0, 0, 0.12);
        height: 48px;
        .pip-ref-list {
            padding: 0px;
            .pip-ref-list-item {
                height: 48px;
                max-height: 48px;
                min-height: 48px;
                padding: 0px;
                width: 100%;
                .pip-content {
                    line-height: 16px;
                    padding: 10px 0px 10px 21px;
                    margin: 0px;
                }
                .md-button {
                    padding: 0px;
                }
            }
        }
    }
}

.pip-sm {
    .iqs-global-help-panel {
        .global-help-list {
            overflow-y: auto;
            height: calc(100% - 56px - 37px);
            min-height: 144px;
        }
    }
}

.pip-xs {
    .iqs-global-help-panel {
        .global-help-list {
            overflow-y: auto;
            height: calc(100% - 56px - 48px);
            min-height: 144px;
        }
    }
}