.iqs-emergency-plan-details-panel {
    height: 100%;
    width: 100%;
    .aux-btn-close {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .text-title {
        line-height: 24px;
        padding: 16px 48px 16px 0px;
        .md-button.md-icon-button {
            margin: -8px 24px 0px 8px;
        }
    }
    .pip-ref-list {
        .ep-step-name-uncheck {
            text-decoration: line-through;
        }
    }
}