<div class="aux-btn-close pointer" ng-click="$ctrl.closeAuxPanel()" ng-if="!$ctrl.hideButton">
    <md-icon md-svg-icon="icons:cross"></md-icon>
</div>

<div class="text-title layout-row layout-align-start-start">
    <md-button class="md-icon-button flex-fixed" ng-click="$ctrl.onIncidentList()">
        <md-icon md-svg-icon="icons:arrow-left"></md-icon>
    </md-button>
    <div>
        {{ ::$ctrl.incidentDetails.description }}
    </div>
</div>

<div class="pip-ref-list pip-scroll-y layout-column p16 tp0 flex">

    <div class="layout-row layout-align-start-center bm8">
        <pip-avatar class="pip-face pip-pic rm16 flex-fixed pointer" pip-rebind="true" pip-id="$ctrl.incidentDetails.object_id" pip-name="$ctrl.incidentDetails.object_name"
            ng-click="$ctrl.onObjectClick()">
        </pip-avatar>
        <div class="pip-content flex">
            <div class="flex">
                <div class="text-subhead2 text-overflow">
                    {{ ::$ctrl.incidentDetails.object_name }}
                </div>
                <div class="text-body1 color-secondary-text text-overflow">
                    {{ ::$ctrl.incidentDetails.ref_description }}
                </div>
            </div>
        </div>
        <div class="expanded-button  flex-fixed" ng-if="$ctrl.isExpanded">
            <md-button class="md-icon-button" ng-click="$ctrl.expand = !$ctrl.expand">
                <md-icon md-svg-icon="icons:chevron-down" ng-if="!$ctrl.expand"> </md-icon>
                <md-icon md-svg-icon="icons:chevron-up" ng-if="$ctrl.expand"></md-icon>
            </md-button>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.ref_groups">
        <md-icon md-svg-icon="iqs:team" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.ref_groups }}
            </div>
            <div class="pip-subtitle text-caption">
                {{ ::'INCIDENT_GROUPS' | translate }}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.online">
        <md-icon md-svg-icon="iqs:comm-on" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.online | formatTimeLong }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'INCIDENT_ONLINE' | translate}}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.offline">
        <md-icon md-svg-icon="iqs:comm-off" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.offline | formatTimeLong }}
            </div>
            <div class="pip-subtitle text-caption">
                {{ ::'INCIDENT_OFFLINE' | translate}}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.freezed">
        <md-icon md-svg-icon="iqs:comm-off" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.freezed | formatTimeLong }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'INCIDENT_FREEZED' | translate}}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.immobile">
        <md-icon md-svg-icon="iqs:comm-off" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.immobile | formatTimeLong }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'INCIDENT_IMMOBILE' | translate}}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.ref_phone">
        <md-icon md-svg-icon="icons:phone" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.ref_phone }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'INCIDENT_PHONE' | translate}}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.ref_email">
        <md-icon md-svg-icon="icons:message" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.ref_email }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'EMAIL' | translate}}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.expand && $ctrl.incidentDetails.incidentCount > 1">
        <md-icon md-svg-icon="icons:ribbon" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.incidentCount }} {{ ::'INCIDENT_DAY_COUNT_TEXT' | translate }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'INCIDENT_COUNT_EVENT' | translate}}
            </div>
        </div>
    </div>

    <div class="incident-divider-top divider-top tm8 bm16"></div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.incidentDetails.assigned_name">
        <md-icon md-svg-icon="iqs:schedule" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.assigned_name }}
            </div>
            <div class="pip-subtitle text-caption">
                {{ ::'INCIDENT_ASSIGNED' | translate }}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content" ng-if="$ctrl.incidentDetails.incidentValue">
        <md-icon md-svg-icon="iqs:incident" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.incidentValue }}
            </div>
            <div class="pip-subtitle text-caption">
                {{ ::'INCIDENT_VALUE' | translate }}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content">
        <md-icon md-svg-icon="icons:time" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow">
                {{ ::$ctrl.incidentDetails.time | formatMiddleDateLongTime }}
            </div>
            <div class="pip-subtitle text-caption">
                {{ ::'INCIDENT_TIME' | translate }}
            </div>
        </div>
    </div>

    <div class="pip-ref-list-item  layout-row layout-align-start-center incident-content">
        <md-icon md-svg-icon="iqs:location" class="incident-icon">
        </md-icon>
        <div class="pip-content tp8 bp8">
            <div class="flex text-body1 text-overflow" ng-if="$ctrl.incidentDetails.locationName">
                {{ ::$ctrl.incidentDetails.locationName }}
            </div>
            <div class="flex text-body1 text-overflow" ng-if="!$ctrl.incidentDetails.locationName">
                <!-- {{ ::'INCIDENT_WHOLE_SITE' | translate }}  -->
                {{ $ctrl.organizationName }}
            </div>
            <div class="pip-subtitle text-caption">
                {{::'INCIDENT_LOCATION' | translate }}
            </div>
        </div>
    </div>

    <div class="incident-map tm8 bm8" ng-if="$ctrl.incidentDetails.pos && $ctrl.incidentDetails.pos.latitude && $ctrl.incidentDetails.pos.longitude">
        <iqs-incidents-map-panel iqs-object="$ctrl.incidentDetails.pos" ng-click="$ctrl.openRetrospective()">
        </iqs-incidents-map-panel>
    </div>

    <div class="layout-row layout-align-start-start tp8 bm8" xxxng-if="$ctrl.accessConfig.incidentClose">
        <md-input-container class="md-block flex" class="incident-input">
            <label>{{::'INCIDENT_RESOLUTION' | translate }}</label>
            <textarea ng-model="$ctrl.incidentDetails.resolution" aria-label="RESOLUTION" md-select-on-focus ng-disabled="!$ctrl.accessConfig.incidentClose">
                
            </textarea>
        </md-input-container>
        <md-button class="md-icon-button tm8" ng-click="$ctrl.onChooseResolution($event)" ng-disabled="!$ctrl.accessConfig.incidentClose">
            <md-icon md-svg-icon="icons:dots"></md-icon>
        </md-button>
    </div>

    <div class="incident-button">
        <md-button class="color-accent-bg tm12 flex" aria-label="DOWNLOAD" xxxng-if="$ctrl.accessConfig.incidentClose" ng-click="$ctrl.onIncidentClose()"
            ng-disabled="$ctrl.transaction.busy() || !$ctrl.incidentDetails.resolution || !$ctrl.accessConfig.incidentClose">
            {{ ::'INCIDENT_CLOSE_BUTTON' | translate }}
        </md-button>
    </div>
</div>