.iqs-incidents-details-panel {
    height: 100%;
    width: 100%;
    .aux-btn-close {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .pip-ref-list {
        .pip-ref-list-item {
            .pip-content {
                .pip-subtitle.text-caption {
                    font-size: 12px !important;
                }
            }
        }
    }
    .text-title {
        line-height: 24px;
        padding: 16px 48px 16px 0px;
        .md-button.md-icon-button {
            margin: -8px 24px 0px 8px;
        }
    }
    .incident-divider-top {
        margin-right: -16px;
    }
    .expanded-button {
        margin-right: -16px;
    }
    .insidents-list {
        overflow-y: auto;
        min-height: 144px;
    } // else width 320
    .incident-map {
        position: relative;
        width: 288px; // 320-32
        height: 150px;
    }
    .incident-content {
        margin: 0px;
        .incident-text {
            padding: 4px 0px;
            line-height: 16px
        }
        .incident-icon {
            margin: 0px 24px 0px 8px;
        }
    }
    .incident-button {
        .md-button {
            width: 100%;
            margin: 0px;
        }
    }
}

// width 480
.pip-large {
    .iqs-incidents-details-panel {
        .incident-map {
            position: relative;
            width: 448px; // 480-32
            height: 235px;
        }
    }
}