.iqs-landing {

width: 100%;
overflow-y: auto; 

.iqs-cloud1, .iqs-cloud2, .iqs-cloud3 {
    position: relative;
    z-index: 10;
    width: 70px;
}

.iqs-cloud1 {
     left: calc(50% - 600px);
    top: 150px;

}
.iqs-cloud3 {
     left: calc(50% + 500px);
    top: 250px;

}
.iqs-cloud2 {
     left: calc(50% + 200px);
    top: 450px;

}
.iqs-header {
    height: 48px;
    width: 100%;
}

        .iqs-background {
        height: 332px;
        width: 100%;
        z-index: 1;
        //background-image: url( 'images/Entry_illustration_descktop_main.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .iqs-fail-bg {
        height: 48px;
        width: 100%;
        position: relative;
        margin-top: -48px;
        background-color: #616161;
    }
    .pip-card-container {
        overflow: hidden !important;
    }
    pip-card {
        position: relative;
        background-color: #eee !important;
        box-shadow: none !important;
        border: none;
        padding: 0px;
        .pip-body {
            background-color: #eee !important;

        }
    }
    .md-button.md-raised {
        box-shadow: none;
    }


}
.iqs-landing-footer {
    height: 48px; width: 100%;
    background-color: #424242;
    a {
        text-decoration-line: none !important;
        color: #fff;
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer; 
    }
}


@media(min-width: 1400px) {

    .iqs-landing {

    .iqs-background {
        height: 242px;
        background-image: url( 'images/Entry_illustration_tablet_main.png');

    }
     .iqs-fail-bg {
        height: 32px;
        margin-top: -32px;
    }
}
    .iqs-landing {
    display: flex !important;
}

@media(max-height: 750px) {
.iqs-landing {
    display: block !important;
}
}

/*
@media(max-height: 904px) {
.iqs-landing {
    display: block !important;
}
}*/
}

@media(max-width: 1400px) {
.iqs-landing {

    .iqs-background {
        height: 242px;
        background-image: url( 'images/Entry_illustration_tablet_main.png');

    }
     .iqs-fail-bg {
        height: 32px;
        margin-top: -32px;
    }
}
    .iqs-landing {
    display: flex !important;
}
@media(max-height: 750px) {
.iqs-landing {
    display: block !important;
}
}
}



@media(max-width: 1000px) {
    .iqs-landing {

         .iqs-background {
        height: 135px;
        background-image: url( 'images/Entry_illustration_phone_maine.png');

    }
       .iqs-fail-bg {
        height: 32px;
        margin-top: -32px;
    }
    }
    .iqs-landing {
    display: flex !important;
}

@media(max-height: 630px) {
.iqs-landing {
    display: block !important;
}
}
}
