.populating-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 55;
}

pip-sidenav {
    md-sidenav {
        box-shadow: 0 14px 36px 0 rgba(0, 0, 0, 0.5);
    }
}

.pip-sm .md-sidenav-backdrop, .pip-gt-sm .md-sidenav-backdrop {
    display: none;
}