<div class="aux-btn-close pointer" ng-click="$ctrl.closeAuxPanel()" ng-if="!$ctrl.hideButton">
	<md-icon md-svg-icon="icons:cross"></md-icon>
</div>

<div class="text-title layout-row layout-align-start-start">
	<md-button class="md-icon-button flex-fixed" ng-click="$ctrl.onEmergencyPlanList()">
		<md-icon md-svg-icon="icons:arrow-left"></md-icon>
	</md-button>
	<div>
		{{ $ctrl.emergencyPlan.name }}
	</div>
</div>


<div class="pip-ref-list pip-scroll-y layout-column p16 tp0 flex">

	<div ng-repeat="estep in $ctrl.emergencyPlan.steps track by estep.index">
		<div class="layout-row layout-align-start-start pointer" ng-click="$ctrl.onCheck($index)">
			<div class="flex-fixed">
				<md-button class="md-icon-button m0 tm4  rm16">
					<div class="iqs-bulet color-content {{ estep.checked ? 'color-disabled-bg' : 'color-primary-bg' }}" style="border-radius: 12px; width:24px; height: 24px; line-height: 24px; text-align: center">
						{{ estep.index }}
					</div>
				</md-button>
			</div>
			<div class="text-body1 flex tp16 {{ estep.checked ? 'ep-step-name-uncheck' : '' }}">
				{{ estep.name }}
			</div>
		</div>
		<div ng-repeat="action in estep.actions track by $index" style="margin-left: 56px;">
			<!--note-->
			<div class="tm16 text-body1" ng-if="action.type == 'note' && action.params['text']">
				{{ action.params['text'] }}
			</div>
			<!--phone-->
			<div class="text-body1" ng-if="action.type == 'call phone' && action.params['phone']">
				{{ action.params['phone'] }}
			</div>
			<!--local link-->
			<div ng-if="action.type == 'local link' && action.params['page']">
				<md-button class="color-primary" style="margin-left: -6px;" ng-click="$ctrl.onPageClick(action.params['page'])"
				           ng-if="action.params['pageTitle']">
					{{ action.params['pageTitle'] | translate }}
				</md-button>

				<div class="tm8 text-body1" ng-if="action.params['text']">
					{{ action.params['text'] }}
				</div>
			</div>
			<!--global link-->
			<div class="text-body1" ng-if="action.type == 'global link' && action.params['uri']">
				<a href="{{ action.params['uri'] }}" target="_bank">{{ action.params['uri'] }}</a>
			</div>
		</div>
	</div>
	<div class="layout-row layout-align-center-center tm16 bm16" ng-if="$ctrl.isEPComplete()">
		<md-button class="color-primary-bg" ng-click="$ctrl.onEPComplete()">
			{{ ::'EMERGENCY_DATAILS_COMPLETE_BUTTON' | translate }}
		</md-button>
	</div>

</div>