<div class="aux-btn-close pointer" ng-click="$ctrl.closeAuxPanel()" ng-if="!$ctrl.hideButton">
    <md-icon md-svg-icon="icons:cross"></md-icon>
</div>

<div class="text-title">
    {{ ::'EMERGENCY_PLANS_AUX_TITLE' | translate }}
</div>


<div class="emergency-plans-list pip-scroll-y layout-column bp0 tp0 flex">
    <!--<div class="text-caption lp16 rp16 tp8 bp16">
        {{ ::'EMERGENCY_PLANS_AUX_SUBTITLE' | translate }}
    </div>-->

    <md-list class="pip-ref-list p0" ng-if="$ctrl.state == 'data'">

        <md-list-item class="pip-ref-list-item pointer lp16 tp0 divider-bottom" ng-repeat="item in $ctrl.collection track by $index"
                      md-ink-ripple>
            <div class="layout-row layout-align-start-start pip-content " ng-click="$ctrl.onDetails(item)">
                <p class="text-subhead2 incidents-description text-overflow flex">
                    {{ item.name }}
                </p>
                <div class="flex-fixed">
                    <md-icon class="m0 flex-fixed" md-svg-icon="icons:chevron-right"></md-icon>
                </div>
            </div>
        </md-list-item>
    </md-list>


    <div class="layout-column layout-align-center-center flex iqs-empty" ng-if="$ctrl.state == 'empty'">
        <div class="pip-empty" style="display: block;">
            <img src="images/empty/empty.svg" class="pip-pic" style="display: block;">
            <div class="text-subhead1 text-center tm16">
                {{ ::'EMERGENCY_PLANS_AUX_DATA_EMPTY_TITLE' | translate }}
            </div>
            <div class="text-subhead1 text-center">
                {{ ::'EMERGENCY_PLANS_AUX_DATA_EMPTY_SUBTITLE' | translate }}
            </div>
        </div>
    </div>
</div>

<div class="iqs-footer" ng-if="$ctrl.accessConfig.emergencyPlanConfig">
    <md-list class="pip-ref-list">
        <md-list-item class="pip-ref-list-item layout-row layout-align-start-start" md-ink-ripple ng-click="$ctrl.onConfigure()">
            <div class="pip-content">
                <div class="text-body1 text-overflow">
                    {{ ::'EMERGENCY_PLANS_AUX_BUTTON_OPTIONS' | translate }}
                </div>
            </div>
            <div class="flex-fixed">
                <md-icon class="m0 flex-fixed" md-svg-icon="icons:chevron-right"></md-icon>
            </div>
        </md-list-item>
    </md-list>
</div>

<div class="iqs-footer" ng-if="!$ctrl.accessConfig.emergencyPlanConfig">
    <md-list class="pip-ref-list">
        <md-list-item class="pip-ref-list-item tp4 layout-row md-list-item layout-align-start-start">
            <div class="pip-content">
                <div class="text-body1 text-overflow color-secondary-text tp2">
                    {{ ::'EMERGENCY_PLANS_AUX_BUTTON_OPTIONS' | translate }}
                </div>
            </div>
            <div class="tp8 flex-fixed color-secondary-text">
                <md-icon class="m0 flex-fixed" md-svg-icon="icons:chevron-right"></md-icon>
            </div>
        </md-list-item>
    </md-list>
</div>