<div class="iqs-organizations pip-card-container pip-outer-scroll pip-entry layout-column layout-align-center-center" ng-if="$ctrl.step == 0">
    <iqs-new-organization-panel iqs-item="$ctrl.organization" iqs-save="$ctrl.onCreateOrganization(organization)">
    </iqs-new-organization-panel>
</div>

<div class="iqs-organizations pip-card-container layout-column layout-align-center-center" ng-if="$ctrl.step == 1">
    <div class="scroll-y iqs-organization-details" syles="min-height: 500px; max-height: 90%">
        <iqs-payment-panel iqs-save="$ctrl.onCreatePayment(card, agreement)">

        </iqs-payment-panel>
    </div>
</div>