.iqs-horizontal-bars-container {
    width: 100%;
    height: auto;
    position: relative;
    border-left: 2px solid rgba(0, 0, 0, 0.08);
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    .iqs-horizontal-bar {
        height: 42px;
        transition: width .5s ease-in-out;
        border: solid 1px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        .iqs-bar-label {
            text-align: left;
            margin-left: 16px;
            width: 40%;
        }
        .iqs-bar-value {
            text-align: center;
            width: 100%;
        }
        .iqs-bar-label,
        .iqs-bar-value {
            position: absolute;
            height: 42px;
            margin-top: 12px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            &.white-color {
                //color: white;
            }
        }
        .iqs-bar-backdrop {
            background-color: rgba(0, 0, 0, 0.08);
            height: 42px;
            position: absolute;
        }
    }
    .no-data-container {
        height: 0px;
        opacity: 0;
        transition: all .35s ease;
    }
    &.no-data {
        .iqs-horizontal-bar {
            width: 0px !important;
        }
        .no-data-container {
            display: flex;
            width: 100%;
            height: 300px;
            opacity: 1;
            .empty-text {
                text-align: center;
            }
        }
    }
}