<div class="iqs-organizations pip-card-container pip-outer-scroll pip-entry">
	<pip-card>
		<md-progress-linear md-mode="indeterminate" class="dialog-progress-linear" ng-show="$ctrl.transaction.busy()">
		</md-progress-linear>

		<div class="pip-body iqs-list-container">
			<h2 class="lp16 rp16 bm24">{{:: 'SITE_WORK_START_TITLE' | translate}}</h2>
			<p class="color-secondary-text lp16 rp16">{{:: 'SITE_WORK_START_SUBTITLE' | translate}}</p>
			<md-list>
				<md-list-item class="layout-row layout-align-start-center" md-ink-ripple ng-if="$ctrl.isSessionOpen && $ctrl.accessConfig.connectDemoOrganization && !$ctrl.isConnectToDemo"
				              ng-click="$ctrl.connectDemoOrganization()">

					<div class="pip-face flex-fixed iqs-device-avatar rm16  tm8 bm8  layout-row layout-align-center-center color-primary-bg p8">
						<md-icon class="" md-svg-icon="iqs:star-white"></md-icon>
					</div>
					<div iqs-test-connect-to-demo class="flex">
						{{:: 'SITE_CONNECT_DEMO' | translate}}
					</div>
					<div class="flex-fixed">
						<md-icon class="" md-svg-icon="icons:chevron-big-right"></md-icon>
					</div>
				</md-list-item>

				<md-list-item class="layout-row layout-align-start-center " md-ink-ripple ng-click="$ctrl.createOrganization()" ng-if="$ctrl.accessConfig.createOrganization">

					<div class="pip-face flex-fixed iqs-device-avatar rm16  tm8 bm8  layout-row layout-align-center-center color-primary-bg p8">
						<md-icon class="" md-svg-icon="webui-icons:star-1"></md-icon>
					</div>
					<div iqs-test-create-new class="flex">
						{{:: 'SITE_WORK_START_ADD_NEW' | translate}}
					</div>
					<div class="flex-fixed">
						<md-icon class="" md-svg-icon="icons:chevron-big-right"></md-icon>
					</div>
				</md-list-item>

				<md-list-item class="layout-row layout-align-start-center " md-ink-ripple ng-click="$ctrl.addOrganization()" ng-if="$ctrl.accessConfig.addOrganization">

					<div class="pip-face flex-fixed iqs-device-avatar rm16 tm8 bm8 layout-row layout-align-center-center color-primary-bg p8">
						<md-icon class="" md-svg-icon="webui-icons:plus"></md-icon>
					</div>
					<div iqs-test-connect-to-existing class="flex">
						{{:: 'SITE_WORK_START_CONNECT' | translate}}
					</div>
					<div class="flex-fixed">
						<md-icon class="" md-svg-icon="icons:chevron-big-right"></md-icon>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</pip-card>
</div>