@import './panels/EmergencyPlansPanel';
@import './panels/EmergencyPlansListPanel';
@import './panels/EmergencyPlansDetailsPanel';
.iqs-main {
    .iqs-emergency-plans-panel {
        .iqs-empty {
            .pip-empty {
                .pip-pic {
                    margin: 0 auto;
                    padding-top: 24px;
                    width: 250px !important;
                    height: 250px !important;
                    min-height: 250px !important;
                }
                .pip-actions {
                    margin-top: 16px !important;
                }
                .text-title {
                    padding: 16px
                }
                .text-subhead1 {
                    padding: 16px
                }
            }
        }
    }
}