iqs-side-nav-header {
    md-toolbar {
        .iqs-avatar-button {
            height: 48px;
            margin: 0px !important;
            padding: 0px;
            width: 100%;
            text-transform: none;
            text-align: justify;
            .pip-sticky-nav-header-user {
                height: 48px;
            }
        }
    }
    .iqs-title {
        font-size: 14px;
        font-weight: 500;
        cursor: default;
    }
    .iqs-subtitle {
        font-size: 16px;
        font-weight: 16px;
        cursor: default;
    }
    .iqs-sidenav-mobile {
        padding-top: 16px;
        padding-bottom: 12px;
        .iqs-title-mobile {
            font-size: 20px;
            font-weight: 500;
            cursor: default;
        }
    }
    .iqs-header-desktop {
        height: 48px;
        max-height: 48px;
        min-height: 48px;
        .pip-sticky-nav-header-user {
            margin-top: 4px;
        }
    }
}

.iqs-nav-admin {
    z-index: 2;
    background-color: rgb(224, 224, 224) !important;
    color: rgba(0, 0, 0, 0.87) !important;
    md-icon {
        color: rgba(0, 0, 0, 0.54) !important;
        fill: rgba(0, 0, 0, 0.54) !important;
    }
}

.error-expand {
    transform: rotate( -180deg);
    -moz-transform: rotate( -180deg);
    -ms-transform: rotate( -180deg);
    -o-transform: rotate( -180deg);
    -webkit-transform: rotate( -180deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.error-not-expand {
    transform: rotate( -360deg);
    -moz-transform: rotate( -360deg);
    -ms-transform: rotate( -360deg);
    -o-transform: rotate( -360deg);
    -webkit-transform: rotate( -360deg);
    transition: transform 550ms ease;
    -moz-transition: -moz-transform 550ms ease;
    -ms-transition: -ms-transform 550ms ease;
    -o-transition: -o-transform 550ms ease;
    -webkit-transition: -webkit-transform 550ms ease;
}

.sidenav-desktop,
.sidenav-smalldesktop {
    .iqs-hide-sidenav-desktop {
        display: none;
    }
}

.sidenav-mobile {
    .iqs-hide-sidenav-mobile {
        display: none;
    }
}