iqs-side-nav-organizations {
    .iqs-button .md-button {
        padding: 0px !important;
    }
    .iqs-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 48px;
    }
    md-list-item {
        height: 48px;
    }
    .iqs-add-organization {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #de7313;
        md-icon {
            color: #fff;
        }
    }
    .iqs-del-organization {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #727272;
        md-icon {
            color: #fff;
        }
    }
}

.pip-st-moz-buttons {
    vertical-align: middle !important;
}