// @file Composition of all support WebUI CSS styles
// @copyright Digital Living Software Corp. 2014-2016
@import '../node_modules/pip-webui-all/dist/pip-webui.scss';
@import './common/index';
@import './components/index';
@import './services/index';
@import './shell/Shell';
@import './states/index';
//@import "feedback/Feedback";
iqs-client-shell {
    height: 100%;
    width: 100%;
    display: block;
    pip-tabs {
        md-toolbar {
            padding-right: 0px !important;
        }
    }
    .iqs-main {
        overflow: hidden;
        position: initial !important;
    }
    .iqs-aux-panel {
        height: 100%;
        position: relative;
    }
}

.iqs-active-date {
    .md-datepicker-input {
        cursor: pointer !important;
        font-weight: 500;
        color: white;
    }
}

/* Firefox fix */

@-moz-document url-prefix() {
    .pip-button-block {
        display: inherit!important;
    }
}